body {
/*  background-image: repeating-linear-gradient(180deg, #3C72F0, #70B0F7); */
    background-image: url(./images/bg.jpg);
    background-repeat: repeat-x;
    background-size: 100%;
    background-repeat: repeat-y;

}

header{
   background-image: repeating-linear-gradient(90deg, darkblue, black);
   float: top;
   padding-top: 1em;
   vertical-align: center;
   align: center;
}

a:link {
    color: #FFFFFF;
}

a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}

a:active {
    color: #FFFFFF;
    font-weight: bold;
}

a:visited {
    color: #FFFFFF;
}

#whitecross{
}

#headerimg{
  width: 150px;
  height: 150px;
  vertical-align: bottom;
  padding-top: 25px;
  padding-left: 20px;

  display: inline-block;
}


h1 {
  font-family: verdana;
  font-size: 30px;
  color: #FFFFFF;
  text-shadow: 5px 0 0 #000000;
  text-align: center;
}

h2 {
  font-family: verdana;
  font-size: 20px;
  color: #FFFFFF;
  text-shadow: 2px 2px 0 #000000;
}

#notationbox{
   background-image: repeating-linear-gradient(-45deg, cyan, blue);
   border-radius: 25px;
   border: 2px solid grey;
   padding: 20px;
   max-width: 830px;
}

#whitecrossbox{
  background-image: repeating-linear-gradient(-45deg, cyan, blue);
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  max-width: 1000px;
  display: inline-block;
}

#whitecornerbox{
  background-image: repeating-linear-gradient(-45deg, cyan, blue);
  border-radius: 25px;
  border: 2px solid grey;
  padding: 20px;
  max-width: 1000px;
  display: inline-block;
}



p {
  font-family:verdana;
  font-size: 14px;
  font-weight: lighter;
  color: #FFFFFF;
}

nav {
    display: inline-block;
}

ul {
  color: white;
}

nav ul {
  font-family: verdana;
  font-size: 14px;
  font-color: #FFFFFF;
}



.algorithm {
  font-family: verdana;
  font-size: 16px;
  font-weight: bolder;
  color: #FFFFFF
}

.notation {
  font-family: verdana;
  font-size: 15px;
  font-weight: bolder;
  vertical-align: center;
  display: inline;
  align: center;
  color: #000000;
}

.instruct {
  padding-left: 25px;
  padding-right: 25px;
}

.totop {
  font-family: verdana;
  font-size: 14px;
  font-color: #FFFFFF;
}

.img {
  padding-left: 40px;
}

@media (min-width:450px) and (max-width:880px) {

  #notationbox{
     background-image: repeating-linear-gradient(-45deg, cyan, blue);
     border-radius: 25px;
     border: 2px solid grey;
     padding: 20px;
     width: 420px;
  }

}

@media (max-width:449px) {

  #notationbox{
     background-image: repeating-linear-gradient(-45deg, cyan, blue);
     border-radius: 25px;
     border: 2px solid grey;
     padding: 20px;
     width: 165px;
     align: center;
  }
  #whitecrossbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 320px;
    display: inline-block;

  }

  #whitecornerbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 400px;
    display: inline-block;
  }
}


@media (min-width:450px) and (max-width:900px) {

  #whitecrossbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 620px;
    display: inline-block;

  }

  #whitecornerbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 620px;
    display: inline-block;
  }
}

@media (min-width:900px) {

  #whitecrossbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 900px;
    display: inline-block;
  }

  #whitecornerbox{
    background-image: repeating-linear-gradient(-45deg, cyan, blue);
    border-radius: 25px;
    border: 2px solid grey;
    padding: 20px;
    width: 900px;
    display: inline-block;
  }
}



@media (min-width:881px) {


}
